# OS residuals
desktop.ini
Desktop.ini
Icon?
.DS_Store
Thumbs.db
pids
*.pid
*.seed
*.pid.lock

# Logs & environment
logs
*.log
.env
.env.local
.env.*.local

# JavaScript/Node
node_modules/
.next
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp
.pnp.js
coverage/
.nyc_output

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
.venv
venv/
ENV/
env/
.Python

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
vendor/
Godeps/

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.swo
*~

# Compiled outputs
/dist
/tmp
/out-tsc
*.o
*.a

# Misc
.sass-cache/
connect.lock
typings/
.angular/
*.xlsx